body {
  background-color: black;
  font-family: "Open Sans", "sans serif";
  color: white;
  margin: 0;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
}

.card-img-top {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  filter: blur(1px);
}
